<section class="table-section">
    <button id="get-button">Get movie List</button>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row"></tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <div class="btn-group">
              <button id="delete-button" class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tbody>
    </table>
</section>
